header {
  width: auto;
  height: 100px;
  border: 1px solid;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-image: url(images/banner-909710_1920.jpg);
  border-bottom: 5px solid black;
}

#top .box1 {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  display: inline-block;
  background-image: url(images/Free_Sample_By_Wix.jpg);
  left: 30%;
  top: 35px;
  position: absolute;
  border-radius: 50%;
}

#top .box2 {
  width: 500px;
  height: 50px;
  left: 40%;
  top: 25px;
  display: inline-block;
  position: absolute;
  font-family: "Krona One", sans-serif;
}

#top .box3 {
  width: 50px;
  height: 50px;
  right: 20px;
  top: 70px;
  display: inline-block;
  position: absolute;
  background-image: url(../images/ptc-vector-logo.svg);
}

#topMenu {
  width: auto;
  height: 50px;
  padding-left: 200px;
  padding-right: 20px;
}

#topMenu ul li {
  list-style: none;
  color: white;
  background-color: #2d2d2d;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
}

#topMenu .menuLink {
  text-decoration: none;
  color: white;
  display: block;
  width: 150px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Trebuchet MS", Dotum, Arial;
}

#topMenu .menuLink:hover {
  color: red;
  background-color: #4d4d4d;
}
